/*********************************
 * SSL files                     *
 *********************************/
.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

/*********************************
 * INI files                     *
 *********************************/
.ini_section {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}
.ini_key {
    -fx-fill: red;
}
.ini_value {
    -fx-fill: blue;
}

/*********************************
 * Common                        *
 *********************************/
.string {
    -fx-fill: green;
}

.comment {
	-fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}